#the-whole-page{
  display:grid;
  margin:auto;
  border: 1px solid 
}
#flag-div marquee{
 background-color:blue;
 color:white;
}
#flag-div{
  
  text-align:center;
  border:2px solid ;
  height:10%;
}
#flag-span img:hover{
  
  border:10px solid blue;
}

.introduction{
  margin-right:15%;
  margin-left:15%;
  text-align:center;
  background-color:lightblue;
  
}
.widescreen{
  background-color:#fff1f0;
  
}
.widescreen img:hover{

}

.ourimages{
  background-color:red; 
}
.ourimages img{
  
  height:80%;
  width:80%;
  margin:10% 10% 10% 10%;
}
#list-of-tours-div{
  display:grid;
  grid-template-columns:70% 30%;
  height:100%;
  
}
/* begin Head management */
h2{
 text-decoration-line:underline;
  text-indent:25px;
}
/* end of head management */
#list-of-tours-div img{
 border:5px solid black; 
 margin-top:5px;
 
}
.centeralimage{
 display:block;
  margin:auto;
}
iframe{
  width:100%;
  height:80%;
}
.animals-class h2{
  text-align:center;
}